absl-py==2.3.0
setuptools
wheel
aiohttp==3.8.3
aiosignal==1.3.1
altair==5.4.0
annotated-types==0.7.0
anthropic==0.51.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==25.3.0
autobahn==22.12.1
Babel==2.15.0
backcall==0.2.0
bayesian-optimization==1.4.3
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.9.0
blosc2==2.4.0
cachetools==5.4.0
certifi==2025.4.26
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
cryptography==38.0.4
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
entrypoints==0.4
executing==1.2.0
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.16.2
filelock==3.10.6
filetype==1.2.0
Flask
fonttools==4.39.2
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2025.5.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.2
grpcio==1.71.0
grpcio-status==1.71.0
gymnasium==1.1.1
h11==0.14.0
hpelm==1.0.10
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.31.4
hyperlink==21.0.0
idna==3.4
imageio==2.23.0
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.3
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
jiter==0.10.0
joblib==1.2.0
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server-proxy==3.2.2
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.4
jupyterlab_server==2.27.2
kiwisolver==1.4.4
langchain==0.3.25
langchain-anthropic==0.3.13
langchain-core==0.3.60
langchain-google-genai==2.0.10
langchain-huggingface==0.2.0
langchain-openai==0.3.17
langchain-text-splitters==0.3.8
langsmith==0.3.42
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.3
narwhals==1.3.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
ndindex==1.7
nest-asyncio==1.5.6
networkx==2.8.8
nltk==3.9.1
nose==1.3.7
notebook==6.5.2
notebook_shim==0.2.2
numexpr==2.8.8
numpy==1.23.4
openai==1.81.0
orjson==3.10.18
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.1.3
pandocfilters==1.5.0
parso==0.8.3
phonenumbers==8.13.47
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.6.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
proto-plus==1.26.1
protobuf==5.27.3
psutil==5.9.4
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.13
pycparser==2.21
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pygad==2.19.2
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.19.2
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.1.0
python-json-logger==2.0.4
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==305
pywinpty==2.0.9
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
questionary==2.0.1
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
rsa==4.9.1
safetensors==0.5.3
scikit-image
scikit-learn 
scipy==1.9.3
seaborn==0.13.1
selenium==4.33.0
Send2Trash==1.8.3
sentence-transformers==4.1.0
simpervisor==0.4
six==1.16.0
sklearn==0.0.post1
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.41
stable_baselines3==2.6.0
stack-data==0.6.2
streamlit==1.37.1
sympy==1.14.0
tables==3.9.2
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2022.10.10
tiktoken==0.9.0
tinycss2==1.2.1
tokenizers==0.21.1
toml==0.10.2
torch==2.7.1
tornado==6.2
tqdm==4.66.5
traitlets==5.8.0
transformers==4.52.2
trio==0.30.0
trio-websocket==0.12.2
truecallerpy==1.0.3
txaio==22.2.1
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2023.3
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.4.0
uuid==1.30
vpython==7.6.4
watchdog==4.0.2
wcwidth==0.2.5
webcolors==1.12
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.4
wsproto==1.2.0
xgboost==2.0.3
yarl==1.8.2
zstandard==0.23.0

